body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:90vh;
    margin: none;
    background-color: #F4ECE1;
}
button {
    background-color: #FF5733;
    color: white;
    font-style: oblique;
    font-weight: 900;
    border: 3px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.3s ease 0s;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button:hover {
    transform: translateY(-5px);
}
legend {
    font-weight: 700;
}
.size {
    font-family:Verdana;
    font-weight: 600;
}
.toppings {
    font-family:Verdana;
    font-weight: 600;
}
h3 {
    color: #FF5733;
}
.pointer {
    cursor:pointer;
}
#orderDetails {
    background-color: grey;
    border: 5px dashed black;
    color: white;
    padding: 25px;
}
.italic {
    font-style: italic;
    color: #f5876f
}
#displayPrice {
    color:#4BB543;
}
#pizzaNum {
    font-weight: 900;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.price {
    font-style: italic;
    color:#4BB543;
}
header {
    background-color: #FF5733;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}
h1#top-header {
    font-size: 36px;
    font-family: impact;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000;
    margin: 0;
}
h3#top-header {
    font-size: 36px;
    color: #FFA500;
    text-shadow: 2px 2px 4px #000;
    margin: 0px 0px 20px 0px;
}
legend {
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000;
    border-radius: 15px;
    margin: 0px;
    padding: 0px 10px 5px 10px;
    width: auto;
}
#goToCheckout {
    background-color: red;
}
.delivery {
    padding: 50px;
    font-family: impact;
    border: 2px solid orangered;
}
.delivery:hover {
    border: 4px solid orangered;
}
.carryout {
    padding: 50px 65px 50px 50px;
    font-family: impact;
    border: 2px solid orangered;
} 
.carryout:hover {
    border: 4px solid orangered;
}
#deliveryOptions {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    text-align: center;
}
#orOption {
    padding: 80px 5px 0px 5px;
}
.hidden {
    display:none;
}